body {
    font-family: 'Amatic SC', cursive;
    color: whitesmoke;
  }
  .container {
    display: flex; /* or inline-flex */
  }

  .nowrap  { 
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

.header{
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Amatic SC', cursive;
    color: whitesmoke;
    display: flex;
    align-items: center;
    /* border-bottom: whitesmoke; */
}

hr {
  color: whitesmoke;
}

.headerTwo{
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
}

.textHeader{
  align-items: baseline;
  display: flex;
  margin: 20px;
}

.score{
  font-weight: bold;
  font-size: 1.4em;
}

#start-game-button{
    background-color: #e7e7e7;
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 12px;
    font-family: 'Amatic SC', cursive;
    border-color: whitesmoke;
}

.restart-game-button{
  background-color: #e7e7e7;
  font-size: 24px;
  padding: 12px 28px;
  margin: 20px 200px 100px 230px;
  border-radius: 12px;
  font-family: 'Amatic SC', cursive;
}

.answer{
  font-family: 'Amatic SC', cursive;
  font-size: 18px;
  padding: 12px 28px;
  border-radius: 10px;
}

.score{
  margin: 0px 20px 0px 300px;
}

  .left-bar {
    background-image: linear-gradient(to bottom, black 10%, #06365f 50%);
    padding: 10px 30px 100px 80px;
    float: left;
    border: 3px solid #17212e;
    width: 400px;
    height: 611px;
  }

  #gameEndOne {
    z-index: 10;
    background-image: linear-gradient(to bottom, black 10%, #06365f 50%);
    width: 60%;
    height: 60%;
    position: absolute;
    position: center;
    top: 200px;
    left: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }

  #gameEndTwo {
    z-index: 10;
    background-image: linear-gradient(to bottom, black 10%, #06365f 50%);
    width: 60%;
    height: 60%;
    position: absolute;
    position: center;
    top: 200px;
    left: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }

  #gameEndThree {
    z-index: 10;
    background-image: linear-gradient(to bottom, black 10%, #06365f 50%);
    width: 60%;
    height: 60%;
    position: absolute;
    position: center;
    top: 200px;
    left: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }

  #gameEndFour {
    z-index: 10;
    background-image: linear-gradient(to bottom, black 10%, #06365f 50%);
    width: 60%;
    height: 60%;
    position: absolute;
    position: center;
    top: 200px;
    left: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }

  .right-bar {
    background-image: url("./images/sternenhimmel.png");
    position: right;
    padding: 50px;
    margin: 0px 0px 0px 20px; 
    height: 622px;
    border: 3px solid #17212e;
  } 